html, body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 30px auto 30px;
    grid-template-areas:
    "header header"
    "aside  main"
    "footer footer";
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

header, footer {
    background-color: #d4edf4;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    grid-area: aside;
    background-color: #f6c2c2;
}

main {
    grid-area: main;
    background-color: #f9fbba;
}